<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/style.css">
    <title>Kusrs</title>
  </head>
  <body>


    <section class="container">
      <div class="h_table">
        <p>Kurs ID</p>
        <p>Kurs namn</p>
        <p>Kurs period</p>
      </div>
      <div class="b_table">
        <% course.forEach(item => { %>
        <p><%= item.courseId%></p>
        <p><%= item.courseName%></p>
        <p><%= item.coursePeriod%></p>
        <% }); %>
      </div>
    </section>
  </body>
</html>
